* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-1 {
  width: 100%;
  background: #f2f4f7;
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.section-1-left {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section-1-left h1 {
  color: #0866ff;
  font-size: 3em;
}

.section-1-left p {
  font-size: 1.4em;
  color: #000;
}

.section-1-right {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 396px;
  padding: 20px 28px;
  gap: 20px;
  box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid #0866ff;
  box-shadow: 0 0 1px 1px #0866ff;
}

input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
  color: #d3d3d3;
}

input[type="submit"] {
  background-color: #0866ff;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 332px;
  cursor: pointer;
}

a,
a:active,
a:focus,
a:visited {
  color: #0866ff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 330px;
  border: 1px solid #e4e5e7;
}

.create-btn {
  background-color: #42b72a;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 240px;
  cursor: pointer;
}

span {
  font-weight: 700;
}

.section-2 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 30px 250px;
}

ul {
  line-height: 1.3em;
}

li {
  display: inline;
  padding-right: 20px;
}

li a {
  color: #8a8d91 !important;
  font-size: 14px;
}

.more-lang-btn {
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  border-radius: 2px;
  padding: 5px 12px 2px 12px;
}

.more-lang-btn a {
  font-size: 20px !important;
  color: #8a8d91 !important;
}

.footer-hr {
  width: 100%;
  border: 1px solid #e4e5e7;
}

.footer-span {
  color: #8a8d91;
  font-size: 14px;
  padding-top: 10px;
}